
{% extends 'labweb/base.html' %}


{% block style %}

<style>
  @font-face{
    font-family: 'Big Caslon Medium';
    src: url('../fonts/Big Caslon Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  .card-img-top {
      object-fit: cover; /* crop and scale the image to fit the container */
    }

</style>

{% endblock %}


{% block content %}
  <div class="container py-5">
      <header class="text-center">
      <br><br><br><br><br><br>
      <h1 class="display-4 font-weight-bold">Award-Winning</h1>
      <p class="font-italic text-muted mb-0">Let me introduce the research topic of our lab. We study Network AI that can be used in real life.</p>
      <br><br><br>
    </header>
    
    <div class="row">
      {% if award_list %}
          {%for award in award_list%}
          <div class="col-md-4 mb-4" style="padding: 10px; ">
            <div class="card">
              <a href="{{award.award_photo_path}}" class="mx-auto"><img src="{{award.award_photo_path}}" class="card-img-top" style="max-width: 300px;" alt="..."></a>
              <div class="card-body">
                <h5 class="card-title">{{award.awards_title}}</h5>
                <p class="card-text">{{award.awrad_contents}}</p>
                <a href="{{award.award_link}}" class="card-link">
                  [link]
                </a>
                <p class="card-text"><small class="text-muted">{{award.award_dates|date:"d F Y"}}</small></p>
              </div>
            </div>
          </div>
        
          
        {% endfor %}
      {% endif %}
    </div>
  </div>
  
{% endblock %}  