
{% extends 'labweb/base.html' %}


{% block style %}
  <link rel="stylesheet" href="/static/css/member.css">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3">
      {% if member_list %}
        {% for member in member_list %}
          <div class="col mb-3">
            <div class="card">
              <img src="{{member.ID_photo_path_text}}" class="card-img-top" style="min-width: 100%; width: auto; height: auto;" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{member.name_text}}</h5>
                <p class="card-text">{{member.name_text}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}  