
{% extends 'labweb/base.html' %}

{% block style %}
  <style>
    .card-img-top {
      height: 300px; /* set the height of the image container */
      object-fit: cover; /* crop and scale the image to fit the container */
    }
    .card-img-top:hover {
      content: url(/static/brain.png);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/static/images/members/1.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Member 1</h4>
            <p class="card-text">Some example text.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/static/images/members/2.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Member 2</h4>
            <p class="card-text">Some example text.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="/static/images/members/3.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Member 3</h4>
            <p class="card-text">Some example text.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}  