
{% extends 'labweb/base.html' %}


{% block style %}
  <link rel="stylesheet" href="/static/css/detail.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

{% endblock %}

{% block content %}

<div class="overflow-hidden">
	<div class="container position-relative">
		<article class="z-index-1 position-relative">
            {% if article %}

			<header class="py-7">
                
                <a href="/projects/#" class="fw-700 text-decoration-none mb-3 mt-3 d-inline-block"> <i class="fa fa-arrow-left"></i> All posts</a>
                <h1 class="headline" style="font-weight: 600;"> {{article.article_name}}</h1>

                <div class="row" style="width: auto; display: inline-block;">
                    <div class="col" style="display: flex; justify-content: center;">
                        <p class="article-tags" style="margin-top: 1.5em; display: flex;">
                            {% for keyword in keywords %}
                            <span class="tag rounded-pill me-2 fw-700 bg-white shadow-lg py-2 px-3 small">{{ keyword }}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col" style="width: auto; display: flex; align-items: stretch;">
                        <div class="link-buttons" style="display: inline-block; display: flex; justify-content: center; margin-right: 0px;">
                            <ul class="wrapper">
            
                                <li class="icon github" >
                                    <span class="tooltip">Github</span>
                                    <a href="{{article.article_github}}" class="icon-link">
                                        <span><i class="fab fa-github"></i></span>
                                        </a>
                                </li>
                        
                                <li class="icon paper">
                                    <span class="tooltip">Paper</span>
                                    <a href="{{article.article_paper_link}}" class="icon-link">
                                        <span><i class="fas fa-sticky-note"></i></span>
                                    </a>
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                </div>

				
               
			</header>

            <!-- Author & Dates -->
			<div class="article-meta d-flex justify-content-between mb-6">
				<div id="author" class="center-v"style="display: inline-block;">
					<p class="byline fw-700 mb-0">by {{article.article_author}}</p>
				</div>

				<p class="dateline mb-0 fw-700">{{article.article_dates|date:"Y-m-d"}}</p>
			</div>

			<main>
				<section class="mb-7">
					<div class="row">
						<div class="col-md-8">
							<p class="lead mb-0 pb-3 mt-3" style="font-weight: bold;">
                                Abstract.
                            </p>
						</div>
					</div>

					<div class="row row-cols-1 text-body">
						<div class="col">
							<p>{{article.article_abstract}}</p>
						</div>

		
                        <!-- Image Part -->
						<div class="col">
							<figure><img class="img-fluid" src="{{article.article_photo_path}}" alt="a smiling person in a pink hoodie, standing in front of a bright pink lighted arcade basketball game. " />
							</figure>
						</div>

                        <!-- Architecture Part -->
						<div class="col">
                            <p class="lead mb-0 pb-3 mt-3 "  style="font-weight: bold;">
                                Architecture.
                            </p>
							<figure><img class="img-fluid" src="{{article.article_architecture_path}}" alt="a smiling person in a pink hoodie, standing in front of a bright pink lighted arcade basketball game. " />
								<figcaption class="small text-muted mt-2">{{article.article_name}}</figcaption>
							</figure>
						</div>
					</div>
				</section>
			
				
			</main>
            {% endif %}
		</article>
<!-- 
		<div class="bg">
			<div class="container h-100">
				<div class="row row-cols-3 h-100">
					<div class="col">
						<div class="border-start border-end h-100"></div>
					</div>
					<div class="col">
						<div class="border-start border-end h-100"></div>
					</div>
					<div class="col">
						<div class="border-start border-end h-100"></div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>

<div class="position-fixed bottom-0 end-0 m-4 z-index-master">
	<a href="https://toruskit.com" class="d-inline-block strong text-white text-decoration-none bg-black bg-opacity-80 p-3 btn-arrow">Made with <strong class="text-decoration-underline">Torus Kit</strong></a>
</div>
<script src="https://example.com/fontawesome/v5.15.4/js/all.js" data-auto-a11y="true" ></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
{% endblock %}  