
{% extends 'labweb/base.html' %}


{% block style %}
  <link rel="stylesheet" href="/static/css/history.css">
{% endblock %}

{% block content %}
  <div class="container">
    <ul class="border-top border-bottom border-dark mt-2 md-2 p-0" style="width: 100%; text-align:center">
      <li style=" display:inline-block;"><h3>iNES HISTORY</h3></li>
    </ul>
        <section class= "timeline">
          <ul>
          {% if historys %}
            {% for h in historys %}
            <li>
                  <div>
                    <time> {{h.history_dates|date:"Y.m"}}</time>{{h.history_title}}
                    <!-- <img src="{{h.history_photo_path}}"  style="width:150px;height:100px;"> -->
                  </div>
                </li>
            {% endfor %}
          {% endif %}
        </ul>
    </section>
  </div>
  <script src="/static/js/history.js"> </script> 

{% endblock %}  