<head>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/particles.js/src/particles.js"></script>
    <script src="/static/js/home.js"></script>
</head>
<body>
    <div class="container">
        <section class="nav">
            <h1>iNES</h1>
            <h3 class="span loader">
                <span class="m">Intelligent</span><br>
                <span class="m">Nano-Bio</span><br>
                <span class="m">Electronic</span><br>
                <span class="m">System</span>
                
            </h3>
            <div class="nav-container">
                    <a class="nav-tab" href="/member/#">Team</a>
                    <a class="nav-tab" href="/publication/">Research</a>
                    <a class="nav-tab" href="/projects/#">Projects</a>
                    <a class="nav-tab" href="/gallery/#">Gallery</a>
                    <a class="nav-tab" href="https://kojungbeom.github.io/">Blog</a>
            </div>
        </section>
        
        <canvas class="background"></canvas>
    </div>
</body>  
