<head>
    <link rel="stylesheet" href="/static/css/home2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
   
    
    <script src="/static/js/particles.js/src/particles.js"></script>
    <script src="/static/js/home.js"></script>

</head>
<body>
 

        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="#">iNES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <!-- HOME -->
                <li class="nav-item active">
                  <a class="nav-link" href="/home/#">Home <span class="sr-only">(current)</span></a>
                </li>
           
                <!--About US-->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    About Us
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/member/#">People</a>
                    <a class="dropdown-item" href="/history/#">History</a>
                    <a class="dropdown-item" href="#">AI team Blog</a>
                  </div>
                </li>

                <!--Research-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      Research
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Research Topic</a>
                      <a class="dropdown-item" href="/projects/">Project</a>
                    </div>
                </li>

                <!--Publications-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Publications
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Conference</a>
                      <a class="dropdown-item" href="/publication/#">Journal</a>
                    </div>
                </li>

                <!--Board-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Board
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/awards/#">Award</a>
                      <a class="dropdown-item" href="/gallery/#">GAllery</a>
                    </div>
                </li>

                <!--Contact Us-->
                <li class="nav-item">
                    <a class="nav-link" href="contact/#/">Contact Us</a>
                  </li>
              </ul>
            </div>
          </nav>
        </div>
        <section class="title">
            <h1>iNES</h1>
            <h3 class="span loader">
                <span class="m">Intelligent</span><br>
                <span class="m">Nano-Bio</span><br>
                <span class="m">Electronic</span><br>
                <span class="m">System</span>
                
            </h3>
            
        </section>
        
        <canvas class="background"></canvas>


</body>  