<!-- NEW version -->
<!--Version 23.5.31-->
<!-- 23.6.15 --><!-- 23.6.18 --><!-- 23.6.29 -->

<head>
    {%load static %}
  
      <link rel="stylesheet" href="/static/css/navi.css">
      <link rel="stylesheet" href="/static/css/home3.css">
  
      <!--font-->

      <!-- bootstrap -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  
      <script src="/static/js/particles.js/src/particles.js"></script>
      <script src="/static/js/home.js"></script>
  
  </head>
    <header>
        <h1>우리 연구실</h1>
        <nav>
            <ul>
                <li><a href="#about">연구실 소개</a></li>
                <li><a href="#research">연구 분야</a></li>
                <li><a href="#news">최근 소식</a></li>
                <li><a href="#contact">연락처</a></li>
            </ul>
        </nav>
    </header>
    <section id="about">
        <h2>연구실 소개</h2>
        <p>여기에 연구실에 대한 소개글을 적습니다.</p>
    </section>
    <section id="research">
        <h2>연구 분야</h2>
        <p>연구실에서 진행 중인 주요 연구 분야를 소개합니다.</p>
    </section>
    <section id="news">
        <h2>최근 소식</h2>
        <p>최근 연구실 소식 및 업데이트를 여기에 표시합니다.</p>
    </section>
    <section id="contact">
        <h2>연락처</h2>
        <p>연락처 정보를 여기에 적습니다.</p>
    </section>
    <footer>
        <p>&copy; 2024 우리 연구실. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
    </body>