
{% extends 'labweb/base.html' %}


{% block style %}

<style>
  @font-face{
    font-family: 'Big Caslon Medium';
    src: url('../fonts/Big Caslon Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .card-link{
    color: black;
    font-weight: bolder;
  }
  .card-body p, a{
    line-height: 1.0; /* 줄간격 값 조정 */
  }
 
</style>

{% endblock %}

{% block content %}
{% load humanize %}
<div class="container py-5">
    <header class="text-center">
    <br><br><br><br><br><br>
    <h1 class="display-4 font-weight-bold">Notice</h1>
    <p class="font-italic text-muted mb-0">새로운 소식</p>
    <br><br><br>
  </header>
  <div class="row mt-5">
    <div class="col-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          {% if notices %}
          {%for notice in notices%}
          <tr>
            <td>{{notice.id}}</td>
            <td>{{notice.title}}</td>
            <td>{{notice.author}}</td>
            <td>{{notice.created_at|naturaltime}}</td>
            <td>{{notice.updated_at|naturaltime}}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    
   

  </div>
   <!-- pagination -->
   <div class="row mt-5">
    <div class="col-12">
      <nav aria-label="Page navigation example">
       <ul class="pagination justify-content-center">
        <!-- 이전 -->
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}"> &#10094; Prev </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#"> &#10094;  Prev </a>
          </li>
        {% endif %}
        
        <!-- 현재 -->
          <!-- <li class="page-item">
            <a class="page-link" href="#">{{notices.number}} / {{ notices.paginator.num_pages }}</a>
          </li>
           -->
       
        {%for page in custom_range%}
        {%if page == page_obj.number%}
          <li class="page-item">
            <a class="page-link" style="text-decoration:none; color: black;" href="?page={{page}}">{{page}}</a>
          </li>
        {%else%}
        <li class="page-item">
          <a class="page-link"  style="text-decoration:none; color: gray;" href="?page={{page}}">{{page}}</a>
        </li>
        {%endif%}
        {%endfor%}
        <!-- 이후 -->
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &#10095;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next &#10095;</a>
          </li>
        {% endif %}

      </ul>
     </nav>
    </div>
  </div>

</div>
  
{% endblock %}  