
{% extends 'labweb/base.html' %}


{% block style %}
  <link rel="stylesheet" href="/static/css/member.css">
  <style>
    .title-text{
      color: black;
    }
    .title-text:hover{
      color: grey;
    }
    .card-text{
      text-align: justify;
    }
  </style>
{% endblock %}

{% block content %}

<div class="container py-5">
    <header class="text-center">
    <br><br><br><br><br><br>
    <h1 class="display-4 font-weight-bold">Project</h1>
    <p class="font-italic text-muted mb-0">Let me introduce the research topic of our lab. We study Network AI that can be used in real life.</p>
    <br><br><br>
  </header>
 
<div class="mx-auto card mb-3" style="max-width: 1100px; margin-top: 10px;" >
  <div class="row no-gutters">
    {%if article_list%}
      {%for article in article_list%}
        <div class="col-md-4" style="max-width: 500px;" >
          <img src="{{article.article_photo_path}}" class="img-thumbnail" style="width: 50%; width: auto; height: auto;" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="/projects/{{article.id}}/">{{article.article_name}}</h5></a>
            <p class="card-text">{{article.article_abstract}}</p>
            <p class="card-text"><small class="text-muted">{{article.article_keywords}}</small></p>
          </div>
        </div>
        {% endfor %}
      {% endif %}
  </div>
</div>
</div>
<!-- 페이지네이션 기능 다 완료하면 추가할 예정 -->
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->
{% endblock %}  