
{% extends 'labweb/base.html' %}


{% block style %}
  <link rel="stylesheet" href="/static/css/research_topic.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

{% endblock %}

{% block content %}
<div class="container py-5">
    <!-- For Demo Purpose -->
    <header class="text-center">
        <a href="/projects/#" class="fw-700 text-decoration-none mb-3 mt-3 d-inline-block"> go to  posts <i class="fa fa-arrow-right"></i></a>
      <h1 class="display-4 font-weight-bold">iNES AI team Resarch Main Topic</h1>
      <p class="font-italic text-muted mb-0">Let me introduce the research topic of our lab. We study Network AI that can be used in real life.</p>
    </header>
  
  
    <!-- DEMO 1 -->
    <div class="py-5">
      <h3 class="font-weight-bold mb-0">Research Topic</h3>
      <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="row">
        <!-- DEMO 1 Item-->
        <div class="col-lg-6  m-0 p-0">
          <div class="hover hover-1 text-white "><img src="https://bootstrapious.com/i/snippets/sn-img-hover/hoverSet-3.jpg" alt="">
            <div class="hover-overlay"></div>
            <div class="hover-1-content px-5 py-4">
              <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Computer </span>Vision</h3>
              <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <!-- DEMO 1 Item-->
        <div class="col-lg-6 m-0 p-0">
          <div class="hover hover-1 text-white"><img src="https://bootstrapious.com/i/snippets/sn-img-hover/hoverSet-4.jpg" alt="">
            <div class="hover-overlay"></div>
            <div class="hover-1-content px-5 py-4">
              <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Natural Language </span>Processing</h3>
              <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
   
        
         <!-- DEMO 1 Item-->
         <div class="col-lg-6  m-0 p-0">
            <div class="hover hover-1 text-white "><img src="https://bootstrapious.com/i/snippets/sn-img-hover/hoverSet-3.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-1-content px-5 py-4">
                <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Signal </span>Processing</h3>
                <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

           <!-- DEMO 1 Item-->
         <div class="col-lg-6  m-0 p-0">
            <div class="hover hover-1 text-white "><img src="https://bootstrapious.com/i/snippets/sn-img-hover/hoverSet-3.jpg" alt="">
              <div class="hover-overlay"></div>
              <div class="hover-1-content px-5 py-4">
                <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span class="font-weight-light">Database-driven </span>Web Service</h3>
                <p class="hover-1-description font-weight-light mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
{% endblock %}  