	/* CSS 스타일링 */
  body {
    width: 1120px;
    margin: 0 auto;
  }
  .contents {
    width: 1120px;
    margin: 0 auto;
  }
    * {
        font-family: 'Georgia', sans-serif;
    }
/*logo */
    .logoimg {
        display: flex;
        align-items: center;
        width: fit-content;
        
    }
    .logoimg img {
        width: 3em;
        margin-right: 0.1em;
        padding: 0;
    }

    .logo {
        float: left;
        width: 100px;
        height: 100px;
        background-color: #eee;
        margin-right: 5px;
    }


/*main iNES */   
    .mainnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 10%;
        padding-right: 10px;
    }

/* navigation bar*/   

    .navbar {
        float: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        width: 100%;
    }
    .navbar li {
        float: left;
        width: 20%;
    }
    .navbar li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar li a:hover {
        background-color: #ddd;
        color: black;
    }
    .header {
        display: flex;
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;
        clear: both;
        text-align: center;
    }


/*main image */   

    .main-image-section {
        display: flex;
        border: 3px solid gainsboro;
        margin-left: auto;
        margin-right: auto;
        width: 1120px;
        height: 500px;
    }
    .main-image-section img{
        width: 100%;
        height: auto;
        overflow: hidden;
    }


/* recent post */   

    .recent-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px;

    }
    .recent-posts .post {    
        flex-direction: row;
        width: 40%;
        margin: 25px;
        padding: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 2px #0000001a;
        border: 2px solid gainsboro;
    }
    .recent-posts .post h2 {
        display: inline-block;
        text-decoration: none;
        font-size: 24px;
        margin-top: 0;
        margin-right: 10px;
    }
    .recent-posts .post h2 a{
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    .recent-posts .post h5 {
        display: inline-block;
        font-size: 13px;
        margin: 0;
    }
    .recent-posts .post p {
        font-size: 16px;
        margin-bottom: 0;
    }
    .recent-posts .post .post-image {
        margin: 0 auto;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width : 500px;
        height: 200px;
        overflow: hidden;
        box-shadow: 0 2px 2px #0000001a;
    }
    .recent-posts .post .post-image img{
        max-width: 100%;
        height: auto;
    }

/* ICON */   

    .icon-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 30px;
    }
    .icon-section .icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 2px solid gainsboro;
        width : 30%;
        margin : 5px;
    }
    .icon-section .icon img{
        width: 50%;
        margin: 5px;
    }
    .icon-section .logo-tag {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .icon-section .logo-tag h2{
        font-size: 20px;
        text-align: center;
    }

/* footer */   

    .footer {
        background-color: rgb(242, 242, 242);
        width: 1120px;
        position: absolute;
        font-size: 12px;
        margin-top: 20px;
        border-top: 2px solid #566164;
        border-bottom: 2px solid #566164;
    }
    
    .footer ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .footer ul li a{
        color: black;
        text-decoration: none;
    }

    .footer .container {
        width: 1120px;
        position: absolute;
        margin: 0 auto;
    }
    
    .footer .row {
        display:flex;
        flex-wrap: wrap;
    }
    .footer .col {
        flex: 1;
        margin: 10px;
        box-sizing: border-box;
    }