@font-face{
    font-family: 'Big Caslon Medium';
    src: url('../fonts/Big Caslon Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    /* .col {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      width: auto !important;
  } */
    body {
      font-family: "Big Caslon Medium", sans-serif;
      font-size: 15px;
      position: relative;
     }
    
     .title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
        background-color: whitesmoke;
        padding: 0 2em;
      }
  
      p{
        display: inline-block !important;
      }

      .title h1{
        display: inline-block !important;
        font-family: "Big Caslon Medium", sans-serif;
        font-size: 5vw;
        margin: 0;
        padding-bottom: 0.5rem;
        letter-spacing: 0.5rem;
        color: #332e28;
        transition: all 0.3s ease;
        z-index: 3;
        text-align: right !important;
        display:flex;
      }
    
      .header-row {
        position: relative !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: start !important;
        width: 100%;
        padding: 50px; /* 이 값을 조정해서 원하는 간격을 만들 수 있습니다 */
        
      }
    
    
      h1:hover {
        transform: translate3d(0, -10px, 22px);
        color: #9f9183;
      }
      
      h3.span {
        font-size: 2vw;
        letter-spacing: 0.6em;
        font-family: "Big Caslon Medium", sans-serif;
        font-weight: 300;
        color: #332e28;
        z-index: 4;
        text-align: center;
      }

      .m2 {
        font-size: 1.5vw !important;
        letter-spacing: 0.5em;
      }
      
      a {
        text-decoration: none;
      }
      
      .background {
        position: absolute;
        height: 90vh;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
      .container {
        position: relative;
        top: 0;
        width : 100%;
        z-index:50;
        font-family: "Big Caslon Medium", sans-serif;
      }

      @media (min-width: 800px) {
        .title h1 {
          font-size: 5vw;
        }
      
        .title h2 {
          font-size: 3vw;
        }
      
        .title-tab {
          font-size: 3vw;
        }
      }

      @media (max-width: 800px) {
        .dropdownmenu a {
          font: bold 16px/24px sans-serif;
        }
      }
      
      
      @media only screen and (min-width: 360px) {
        .title h1 {
          font-size: 8vw;
        }
      
        .title h2{
          font-size: 2vw;
          letter-spacing: 0.2vw;
        }
      s
        .title-tab {
          font-size: 1.2vw;
        }
      }
      .background {
        position: absolute;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
      }
      .loader span {
        color: #faebd7;
        text-shadow: 0 0 0 #faebd7;
        animation: loading 1s ease-in-out infinite alternate;
      }
      

     /* =============particle=================*/ 
    @keyframes loading {
      to {
        text-shadow: 20px 0 70px #9f9183;
        color: #332e28;
      }
    }
    .loader span:nth-child(2) {
      animation-delay: 0.1s;
    }
    .loader span:nth-child(3) {
      animation-delay: 0.2s;
    }
    .loader span:nth-child(4) {
      animation-delay: 0.3s;
    }
    .loader span:nth-child(5) {
      animation-delay: 0.4s;
    }
    .loader span:nth-child(6) {
      animation-delay: 0.5s;
    }
    .loader span:nth-child(7) {
      animation-delay: 0.6s;
    }
    .loader span:nth-child(8) {
      animation-delay: 0.7s;
    }
    .loader span:nth-child(9) {
      animation-delay: 0.8s;
    }
    
    .loader span:nth-child(10) {
      animation-delay: 0.9s;
    }
    .loader span:nth-child(11) {
      animation-delay: 1s;
    }
    .loader span:nth-child(12) {
      animation-delay: 1.1s;
    }
    .loader span:nth-child(13) {
      animation-delay: 1.2s;
    }
    .loader span:nth-child(14) {
      animation-delay: 1.3s;
    }
    .loader span:nth-child(15) {
      animation-delay: 1.4s;
    }
    .loader span:nth-child(16) {
      animation-delay: 1.5s;
    }
    .loader span:nth-child(17) {
      animation-delay: 1.6s;
    }
    .loader span:nth-child(18) {
      animation-delay: 1.7s;
    }
    .loader span:nth-child(19) {
      animation-delay: 1.8s;
    }
    .loader span:nth-child(20) {
      animation-delay: 1.9s;
    }
    .loader span:nth-child(21) {
      animation-delay: 2s;
    }
    .loader span:nth-child(22) {
      animation-delay: 2.1s;
    }
    .loader span:nth-child(23) {
      animation-delay: 2.2s;
    }
    .loader span:nth-child(24) {
      animation-delay: 2.3s;
    }
    .loader span:nth-child(25) {
      animation-delay: 2.4s;
    }
    .loader span:nth-child(26) {
      animation-delay: 2.5s;
    }
    .loader span:nth-child(26) {
      animation-delay: 2.5s;
    }
    