@import "compass/css3";

 a {
	 color: inherit;
     text-decoration: none;

}
.menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .menu {
	filter: url('#shadowed-goo');
    padding-bottom: 5px;
	padding-top: 5px;

}
 .menu-item, .menu-open-button {
    /* background: #9f9183; */
    background: #fff;;
    border-radius: 40%;
    width: 100px;
    height: 50px;
    /* margin-left: -40px;
    position: absolute;
    top: 20px; */
    color: #6099b0;
	font-weight: 700;
    text-align: center;
    line-height: 80px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform ease-out 200ms;
    /* top: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
}
.menu-item{
    margin-left: -15px;
    position: absolute;
    top: 5px;
    left: 10%;

}
 .menu-open {
	 display: none; /*none*/
}
 .menu-open:checked + .menu-open-button  {
	 transform: translate3d(0, 0, 0) rotate(45deg);
}
 .menu-open:checked + .menu-open-button {
	 transform: translate3d(0, 0, 0) scale(0.1, 1);
}
 .menu-open:checked + .menu-open-button {
	 transform: translate3d(0, 0, 0) rotate(-45deg);
}
 /* .menu {
	 position: absolute;
	 left: 50%;
	 margin-left: -80px;
	 padding-top: 20px;
	 padding-left: 80px;
	 width: 650px;
	 height: 150px;
	 box-sizing: border-box;
	 font-size: 15px;
	 text-align: left;
} */
 .menu-item:hover {
	 background: white;
	 /* color: #9f9183; */
    color: #332e28;    
}
 .menu-item:nth-child(3) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(4) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(5) {
	 transition-duration: 180ms;
}
 .menu-item:nth-child(6) {
	 transition-duration: 180ms;
}
.menu-item:nth-child(7) {
    transition-duration: 180ms;
}
 .menu-open-button {
	 z-index: 2;
	 transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 transition-duration: 400ms;
	 transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	 cursor: pointer;
}
 .menu-open-button:hover {
	 transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
 .menu-open:checked + .menu-open-button {
	 transition-timing-function: linear;
	 transition-duration: 200ms;
	 transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
 .menu-open:checked ~ .menu-item {
	 transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
 .menu-open:checked ~ .menu-item:nth-child(3) {
	 transition-duration: 170ms;
	 transform: translate3d(100px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(4) {
	 transition-duration: 250ms;
	 transform: translate3d(200px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(5) {
	 transition-duration: 330ms;
	 transform: translate3d(300px, 0, 0);
}
 .menu-open:checked ~ .menu-item:nth-child(6) {
	 transition-duration: 410ms;
	 transform: translate3d(400px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 490ms;
    transform: translate3d(500px, 0, 0);
}



