.card-img-top {
  height: 300px; /* 이미지 컨테이너의 높이 설정 */ 
  width: 100%; /* 이미지 컨테이너의 너비 설정 */
  object-fit: cover; /* 이미지를 컨테이너에 맞춤 */
  background-color: #f8f9fa; /* 이미지가 없는 경우의 배경색 */
}

.card-img-top img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
}

.degree-button a {
  color: rgb(123, 123, 123);
  font-weight: 400;
  text-decoration: none;
}

.degree-button:hover {
  border-color: black !important;
}

.degree-button:hover .degree-link {
  text-decoration: none;
  color: black;
}

.degree-button:hover,
.button.active {
  background: #7ea338;
  color: white;
}

.degree-button:visited {
  background: #7ea338;
  color: white;
}
/* 
.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item {
  margin: 0 0.25rem;
}

.page-item .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  text-decoration: none;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
} */
