body {
  margin: 0;
  position: relative;
  min-height: 100%; 
}
.background {
  background: url("back.png") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}
.background_path {
  background-color: #c9dbe9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: dotted black;
}

html {
  overflow: hidden;
}

@keyframes spin_sun {
  0% { transform: rotate(270deg); }
  25% { transform: rotate(360deg); }
  50% { transform: rotate(450deg); }
  75% { transform: rotate(540deg); }
  100% { transform: rotate(630deg); }
}

@keyframes spin_moon {
  0% { transform: rotate(90deg); }
  25% { transform: rotate(180deg); }
  50% { transform: rotate(270deg); }
  75% { transform: rotate(360deg); }
  100% { transform: rotate(450deg); }
}

@keyframes spin-reverse {
  from { transform: rotate(360deg); }
}

.path {
  width: 1000px;
  height: 600px;
  position: relative;
  border-radius: 50%;
  text-align: center;
  background: white;
}

.sun {
  animation: spin_sun 60s infinite linear;
  transform-origin: 50% 600px;
}

.sun img {
  width: 100px;
  position: absolute;
  animation: inherit;
  animation-name: spin-reverse;
}

.moon {
  animation: spin_moon 60s infinite linear;
  transform-origin: 50% 600px;
}

.moon img {
  width: 100px;
  position: absolute;
  animation: inherit;
  animation-name: spin-reverse;
}

/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

*{ margin: 0; padding: 0;}

#clouds{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 100px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 30s linear infinite;
}

.x3 {
	left: 300px; top: -100px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 150px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: 250px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 27s linear infinite;
	-moz-animation: moveclouds 27s linear infinite;
	-o-animation: moveclouds 27s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -500px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -500px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -500px;}
}
.abc {
  position: relative;
  z-index: 1;
  font-size: 20px;
  text-align: center;
}


