{% extends 'labweb/base.html' %}

{% block style %}
  <link rel="stylesheet" href="/static/css/member.css">
  <style>
    .title-text {
      color: black;
    }
    .title-text:hover {
      color: grey;
    }
    .card-text {
      text-align: justify;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container py-5">
  <header class="text-center">
    <br><br><br><br><br><br>
    <h1 class="display-4 font-weight-bold">AI Projects</h1>
    <p class="font-italic text-muted mb-0">Let me introduce the research topic of our lab. We study Network AI that can be used in real life.</p>
    <br><br><br>
  </header>

  {% for project in projects %}
  <div class="mx-auto card mb-3" style="max-width: 1100px; margin-top: 10px;">
    <div class="row no-gutters">
      <div class="col-md-4" style="max-width: 500px;">
        <img src="{{ project.photo_path }}" class="img-thumbnail" style="width: 100%; height: auto;" alt="Image not found">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/ai/projects/{{ project.id }}/" class="title-text">{{ project.name }}</a>
          </h5>
          <p class="card-text">{{ project.description|truncatewords:30 }}</p>
          <p class="card-text"><small class="text-muted">{{ project.start_date|date:"Y-m-d" }}</small></p>
          <h5 style="text-align: left;">
            {% for area in project.areas.all %}
              <span class="badge badge-dark">{{ area.name }}</span>
            {% endfor %}
          </h5>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- 페이지네이션 -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if projects.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ projects.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Previous</a>
      </li>
      {% endif %}
      
      {% for num in projects.paginator.page_range %}
      {% if projects.number == num %}
      <li class="page-item active">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}
      
      {% if projects.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
